
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
data_*/
*.wav
Music/villagedemo.wav.import
Music/LevelTransition.wav.import
Music/Goodnight Mom & Dad.wav.import
Music/Goodnight Mom & Dad.mp3
Music/Deep Blue.wav.import
Music/Gridiron Game 1_5.wav.import
